{%extends 'base.html'%}
{%block body_block%}
<div class="row mt-lg-5">
    <div class="col-4"></div>
    <div class="col-4">
        <h2>Welcome  {{request.user}}</h2>
    </div>
    <div class="col-4"></div>
</div>
<!-- section for displaying blog form-->
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Post" class="btn btn-block btn-primary">
        </form>
    </div>
    <div class="col-4"></div>
</div>
<!-- section for displaying all  blog posts-->

 {%for blog in blogs%}
    <div class="row border mt-3">
        <div class="col-4"></div>
        <div class="col-4">
            <p>
                <strong>{{blog.title}}</strong>

<!--code for deleting blog post-->
            {%if blog.author == request.user%}

                        <a href="{%url 'delete-post' blog.id%}"><i class="fa-solid fa-trash"></i> delete </a>


            {%endif%}
            </p>



            {%if blog.image%}
            <img src="{{blog.image.url}}" class="img-fluid" alt="...">
            <p>
                Posted By {{blog.author}} at {{blog.posted_date}}
            </p>

<!--                code for like ,dislike and displaying like count-->
                {%if request.user in blog.Liked_by.all%}
              <a href="{%url 'dislike' blog.id%}"><button class="btn btn-secondary"><i class="fa-solid fa-thumbs-down"></i>&nbsp;dislike</button></a>
                        {{blog.get_like_count}} Likes by
                        {%for user in blog.get_liked_users%}
                            {{user}}
                        {%endfor%}
                {%else%}
                   <a href="{%url 'add-like' blog.id%}"><button class="btn btn-secondary"><i class="fa-solid fa-thumbs-up"></i>&nbsp;like</button></a>
                        {{blog.get_like_count}} Likes by
                        {%for user in blog.get_liked_users%}
                            {{user}}
                        {%endfor%}


                {%endif%}
            </p>

           <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="" aria-controls="collapseOne">
                        Click to View More
                     </button>
                 </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{blog.description}}
                </div>
                </div>
            </div>


            <p>
            <form action="{%url 'add-comment' blog.id%}" method="post">
                {%csrf_token%}
<!--                code for comment form-->

                {{comment_form.as_p}}
    <input type="submit" value="Add" class="btn btn-block btn-primary">

<!-- code for displaying all comments on all posts               -->

                {%for comment in blog.comments_set.all%}
                    <div style="background-color:#EBEBEB;" class="container rounded mt-3">
                        <p><strong>{{comment.comment}}</strong>

                        </p>
                        <p>Commented By {{comment.user}}

<!--                            code to delete comment-->

                            {%if comment.user == request.user%}
                                <a href="{%url 'delete-comment' blog.id comment.comment%}"><i class="fa-solid fa-trash"></i></a>
                            {%endif%}
                        </p>
                    </div>
                {%endfor%}

<!--                End of comment displaying loop-->

            </form>
            {%endif%}

<!--             End of blog post displaying loop-->
        </div>
        <div class="col-4"></div>
    </div>

 {%endfor%}
{%endblock%}