{%extends 'base.html'%}
{%block body_block%}
<div class="row mt-lg-5">
    <div class="col-4"></div>
    <div class="col-4">
      <form action="" method="post" enctype="multipart/form-data">
          {%csrf_token%}
            <p>
                {%if form.errors%}
                    <div class="alert alert-danger" role="alert">
                            {{form.errors}}
                    </div>
                 {%endif%}
            </p>


          <p>
              <label for="id_password" >Old Password</label>
              <input type="password" name="old_password" id="id_old_password" class="form-control" placeholder="Enter old password">
          </p>
          <p>
              <label for="id_password" >New Password</label>
              <input type="password" name="new_password" id="id_new_password" class="form-control" placeholder="Enter new password">
          </p>
           <p>
              <label for="id_password" >Confirm New Password</label>
              <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" placeholder="Confirm new password">
          </p>


          <button type="submit" class="btn btn-primary">Submit</button>


      </form>
    </div>
    <div class="col-4"></div>
</div>
{%endblock%}