{%extends 'base.html'%}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
                <p>
                {%if form.errors%}
                    <div class="alert alert-danger" role="alert">
                            {{form.errors}}
                    </div>
                 {%endif%}
                </p>
            <form action="" method="post" enctype="multipart/form-data">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary">Update Profile Picture</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}