{%extends 'base.html'%}

{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
  <img src="{{request.user.users.profile_pic.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{request.user}}</h5>
    <p class="card-text">Bio: {{request.user.users.bio}}</p>
  </div>
  <ul class="list-group list-group-flush">

    <li class="list-group-item">Phone: {{request.user.users.phone}}</li>
    <li class="list-group-item">DOB: {{request.user.users.date_of_birth}}</li>
    <li class="list-group-item">Gender: {{request.user.users.gender}}</li>
    <li class="list-group-item">Followers :{{request.user.users.my_follower_count}}</li>

<!--      following count-->
    <li class="list-group-item">Following: {{request.user.users.fetch_following_count}}</li>

<!--      follow and unfollow function-->

      {%for user in request.user.users.fetch_followings%}
    <li class="list-group-item">Following: {{user}} <a href="{%url 'unfollow' user.id%}">&nbsp;unfollow</a></li>
      {%endfor%}

<!--      show suggestions to follow-->

      {%if request.user.users.get_invitations%}
          {%for user in request.user.users.get_invitations%}
          <li class="list-group-item">Suggestions : {{user.username}} <a href="{%url 'follow' user.id%}">&nbsp;follow</a></li>

          {%endfor%}
      {%endif%}

  </ul>
  <div class="card-body">
    <a href="{%url 'profile-update' request.user.users.id%}" class="card-link">Update profile</a>
  </div>
</div>
    </div>
    <div class="col-4"></div>
</div>
{%endblock%}
